In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_train.csv')
df

,Unnamed: 0,ID,Mass (kg),Radius (km),Distance to Star (AU),Orbits a Star?
0,0,1,5.97×10^24,6371,1.0,Yes
1,1,2,1.90×10^27,69911,5.2,Yes
2,2,3,1.00×10^22,1188,39.5,Yes
3,3,4,2.00×10^30,695700,-,No
4,4,5,3.00×10^23,2439,0.39,Yes
5,5,6,1.20×10^29,100000,-,No
6,6,7,5.00×10^21,400,2.4,Yes

In [3]:
df.drop(columns=['ID', 'Unnamed: 0'], axis=1, inplace=True)

In [4]:
a = df.to_numpy() 
a

array([['5.97×10^24', 6371, '1.0', 'Yes'],
       ['1.90×10^27', 69911, '5.2', 'Yes'],
       ['1.00×10^22', 1188, '39.5', 'Yes'],
       ['2.00×10^30', 695700, '-', 'No'],
       ['3.00×10^23', 2439, '0.39', 'Yes'],
       ['1.20×10^29', 100000, '-', 'No'],
       ['5.00×10^21', 400, '2.4', 'Yes']], dtype=object)