In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_train.csv')
df

,Unnamed: 0,ID,Mass (kg),Radius (km),Distance to Star (AU),Orbits a Star?
0,0,1,5.97*10^24,6371,1.00,Yes
1,1,2,1.90*10^27,69911,5.20,Yes
2,2,3,1.00*10^22,1188,39.50,Yes
3,3,4,2.00*10^30,695700,20.00,No
4,4,5,3.00*10^23,2439,0.39,Yes
5,5,6,1.20*10^29,100000,1.20,No
6,6,7,5.00*10^21,400,2.40,Yes

In [3]:
df.drop(columns=['ID', 'Unnamed: 0'], axis=1, inplace=True)

In [4]:
a = df.to_numpy() 
a

array([['5.97*10^24', 6371, 1.0, 'Yes'],
       ['1.90*10^27', 69911, 5.2, 'Yes'],
       ['1.00*10^22', 1188, 39.5, 'Yes'],
       ['2.00*10^30', 695700, 20.0, 'No'],
       ['3.00*10^23', 2439, 0.39, 'Yes'],
       ['1.20*10^29', 100000, 1.2, 'No'],
       ['5.00*10^21', 400, 2.4, 'Yes']], dtype=object)

In [5]:
fix_data = np.array([float(s.replace('*10^', 'e')) for s in a[:,0]])
binary_column = np.array([1.0 if s == 'Yes' else 0.0 for s in a[:,3]])
final_data = np.column_stack([fix_data, a[:,1:3].astype(float), binary_column])
final_data

array([[5.9700e+24, 6.3710e+03, 1.0000e+00, 1.0000e+00],
       [1.9000e+27, 6.9911e+04, 5.2000e+00, 1.0000e+00],
       [1.0000e+22, 1.1880e+03, 3.9500e+01, 1.0000e+00],
       [2.0000e+30, 6.9570e+05, 2.0000e+01, 0.0000e+00],
       [3.0000e+23, 2.4390e+03, 3.9000e-01, 1.0000e+00],
       [1.2000e+29, 1.0000e+05, 1.2000e+00, 0.0000e+00],
       [5.0000e+21, 4.0000e+02, 2.4000e+00, 1.0000e+00]])

In [6]:
# chuyen vi de lay x 
rowX = final_data.T 
rowX

array([[5.9700e+24, 1.9000e+27, 1.0000e+22, 2.0000e+30, 3.0000e+23,
        1.2000e+29, 5.0000e+21],
       [6.3710e+03, 6.9911e+04, 1.1880e+03, 6.9570e+05, 2.4390e+03,
        1.0000e+05, 4.0000e+02],
       [1.0000e+00, 5.2000e+00, 3.9500e+01, 2.0000e+01, 3.9000e-01,
        1.2000e+00, 2.4000e+00],
       [1.0000e+00, 1.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 1.0000e+00]])

In [21]:
x_train = [row for row in rowX[0]]
y_train = [col for col in rowX[1]]
z_train = [hgt for hgt in rowX[2]]

In [22]:
def fun_Knn(x,x1, y,y1, z,z1):
    return ((x-x1)**2 + (y-y1)**2 + (z-z1)**2)**0.5

In [ ]:
def Knn_predict(x_train, y_train, z_train,test_point, k=3):
    dis = []
    for i in range(len(x_train)):
        dict = fun_Knn(x_train[i], y_train[i], z_train[i],test_point[0], test_point[1], test_point[2])
        dis.append((dict, final_data[i, 3]))  # Lấy nhãn từ cột thứ 4
    
    # sort > 
    dis.sort(key=lambda x : x[0])
    k_nei = [label for (_, label) in dis[:k]]
    most_common = max(set(k_nei), key=k_nei.count)
    return most_common

In [31]:
test_point = [2.0000e+30,695700,20.00]
predicted_label = Knn_predict(x_train, y_train,z_train, test_point, k=3)
print("Dự đoán:", predicted_label)

Dự đoán: 1.0

In [30]:
k = 3  # Number of neighbors
dis = []
for i in range(len(x_train)):
    distance = fun_Knn(x_train[i], test_point[0], y_train[i], test_point[1], z_train[i], test_point[2])
    dis.append((distance, final_data[i, 3]))  # Lấy nhãn từ cột thứ 4

# Sort distances
dis.sort(key=lambda x: x[0])
k_nei = dis[:k]

for item in k_nei:
    print("Khoảng cách:", item[0], "| Nhãn:", item[1])

Khoảng cách: 0.0 | Nhãn: 0.0
Khoảng cách: 1.88e+30 | Nhãn: 0.0
Khoảng cách: 1.9981e+30 | Nhãn: 1.0